<h1> {{ heroe.nombre | uppercase }} <small>( {{heroe.aparicion | date: 'yyyy'}} )</small></h1>
<hr>
<div class="row animated fadeIn">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" alt="">
        <br><br>
        <button class="btn btn-outline-danger btn-block" (click) = "retroceder()">Regresar</button>
       
    </div>

    <div class="col-md-8">
        <h3>Biografia</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <img style="height: 100px; width: auto;" *ngIf="heroe.casa == 'DC'; else marvel" src="assets/img/dc_logo.jpg" alt="DC">
        <ng-template #marvel>
            <img style="height: 100px; width: auto;"  src="assets/img/marvel.png" alt="marvel">
        </ng-template>

        
        
    </div>
</div>
